@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Manrope', serif;
}

#loader {
    background: url("./images/photo_5987639389850811976_y.jpg");
    background-position: center;
    background-size: cover;
}

#clock {
    box-shadow: 0 0 5px 5px;
}

#footer {
    width: 100%;
    min-height: 100%;
    padding: 40px 50px;
}

#socials {
    margin: 10px 0;
}

#socialLinks {
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

#socialLinks:hover {
    transform: translateY(-10px)
}



@tailwind base;
@tailwind components;
@tailwind utilities;